$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$color-fourth: #f6f6f6;
$color-fifth: #353535;
$color-sixth: #eaeaea;

$color-green: #99e2d0;

@mixin stretch-pics {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

p,
h1,
h2,
h3,
h4,
.reservez,
.fonctionnement,
footer {
  font-family: "Roboto", sans-serif;
}

.text-cartes h1,
.logo-footer {
  font-family: "Shrikhand", cursive;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.loader {
  font-family: "Shrikhand", cursive;
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: $color-primary;
  background-color: $color-tertiary;
  visibility: hidden;
  animation-name: entree-site;
  animation-duration: 3000ms;
  animation-timing-function: cubic-bezier(1, 0.42, 0.26, 0.92);
  .text-loader {
    text-shadow: 1rem 1rem 0.5rem #c5b2dd;
  }
}

@keyframes entree-site {
  0% {
    color: $color-tertiary;
    visibility: visible;
  }
  50% {
    color: $color-secondary;
  }
  99% {
    color: $color-primary;
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

header {
  padding-top: 2.5%;
}

.logo-index {
  padding-left: 30%;
  padding-bottom: 2.5%;
}

.localisation {
  background-color: $color-sixth;
  height: 7.5rem;
  border-top: solid 6px #cfcfcf;
  form {
    font-size: 2.5rem;
    .fa-map-marker-alt {
      padding-right: 4%;
      padding-left: 30%;
    }
    input {
      height: 100%;
      background-color: #eaeaea;
      border: none;
      font-size: 2.5rem;
      font-weight: bold;
      padding-top: 3.5%;
    }
  }
}

.reservez {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6%;
  .reservez-un {
    padding-top: 5%;
    font-size: 1.8rem;
    white-space: nowrap;
  }
  .reservez-deux {
    font-size: 2.8rem;
    white-space: nowrap;
  }
  .explorer {
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    white-space: nowrap;
    color: white;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    background: linear-gradient(-45deg, $color-primary, $color-secondary);
    opacity: 1;
    box-shadow: 5px 5px 20px $color-fifth;
    transition: box-shadow 200ms, opacity 200ms;
    &:hover {
      background: linear-gradient(-45deg, $color-primary, $color-secondary);
      opacity: 0.8;
      box-shadow: 10px 10px 20px $color-fifth;
    }
  }
}

.fonctionnement {
  font-size: 2rem;
  h1 {
    margin-left: 16%;
    margin-top: 8%;
    font-size: 3.5rem;
  }
  li {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 2.3rem;
    margin-top: 3%;
    height: 150px;
    width: 70%;
    margin: auto;
    margin-bottom: 5%;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    opacity: 1;
    box-shadow: 10px 10px 15px $color-sixth;
    transition: opacity 300ms, box-shadow 300ms;
    &:hover {
      opacity: 0.6;
      box-shadow: 12px 12px 15px #d6cbcb;
    }
    .fa-mobile-alt {
      padding-right: 9.5%;
    }
    .fa-list {
      padding-right: 8%;
    }
    .fa-store {
      color: $color-primary;
      padding-right: 7%;
    }
    span {
      background-color: $color-primary;
      font-size: 1.6rem;
      padding-top: 4px;
      margin-right: 8%;
      margin-left: -3%;
      color: white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.retour-logo {
  display: flex;
  .logo {
    margin-left: 23%;
  }
  .retour-accueil {
    font-size: 3rem;
    padding-left: 3%;
    padding-top: 1%;
  }
}

.restaurants {
  background-color: $color-fourth;
  padding-top: 6%;
  margin-top: 15%;
  padding-bottom: 10%;
  h1 {
    padding-left: 6%;
    padding-bottom: 3%;
    font-size: 3rem;
    font-weight: bold;
  }
  figure {
    position: relative;
    width: 88%;
    margin: auto;
    margin-bottom: 6%;
    .nouveau-vert {
      position: absolute;
      top: 8%;
      right: 5%;
      height: 10%;
      width: 23.75%;
      background-color: $color-green;
      color: #208f73;
      font-size: 2.2rem;
      font-weight: bold;
      border-radius: 6%;
      p {
        margin: 6%;
        padding-left: 10%;
      }
    }
    figcaption {
      background-color: white;
      display: flex;
      border-radius: 0 0 50px 50px;
      box-shadow: 10px 10px 15px $color-sixth;
      .text {
        width: 80%;
        font-size: 3rem;
        line-height: 0.8rem;
        padding-left: 5%;
        padding-bottom: 3%;
        letter-spacing: -4px;
      }
      .ico {
        width: 20%;
        font-size: 4.5rem;
        .fa-heart {
          float: right;
          margin: 40%;
        }
      }
    }
  }
}

.la-palette img {
  @include stretch-pics;
  border-radius: 8% 8% 0 0;
  object-position: 50% 100%;
}

.la-note img {
  @include stretch-pics;
  border-radius: 8% 8% 0 0;
  object-position: 50% 60%;
}

.a-la-francaise img {
  @include stretch-pics;
  border-radius: 8% 8% 0 0;
  object-position: 0 100%;
}

.le-delice img {
  @include stretch-pics;
  border-radius: 8% 8% 0 0;
  object-position: 50% 95%;
}

.titre-cartes {
  background-color: $color-fourth;
  margin: 0;
  margin-top: 2%;
  position: relative;

  img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  > div {
    background-color: $color-fourth;
    width: 100%;
    margin-top: -100px;
    position: absolute;
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 10%/50%;

    .text-cartes {
      width: 80%;
      font-size: 2.3rem;
      line-height: 3rem;
      padding-left: 4%;
    }
    .ico-cartes {
      width: 20%;
      font-size: 3rem;
      .fa-heart {
        margin-top: 25%;
        margin-left: 35%;
      }
    }
  }
}

.main-cartes {
  background-color: $color-fourth;
  margin-top: -10%;
  padding-top: 20%;
}

.entrees > h2,
.plats > h2,
.desserts > h2 {
  margin-left: 4%;
  margin-top: 0;
  padding-top: 4%;
  padding-bottom: 3%;
}

.souligne-vert {
  padding-bottom: 1.5%;
  border-bottom: $color-green 6px solid;
}

.item-encoche {
  width: 100%;
  display: flex;

  .itemmenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: white;
    border: solid blue 3px;
    margin: 3%;
    margin-right: 0;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 25px;
    box-shadow: 5px 8px 15px $color-sixth;
    &:hover > .details-articles {
      background: yellow;
      transform: scaleX(0.8);
      transform-origin: left;
    }
    .details-articles {
      border: red solid 4px;
      width: 65%;
      transition: transform 3000ms ease-in-out;

      transform-origin: left;
      h2 {
        margin: 0;
        min-width: 470px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 2rem;
      }
      p {
        margin-top: 10%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    p {
      margin-top: 1%;
    }

    &:hover > .details-prix {
      transform: translate(-500%, 0);
    }
    .details-prix {
      padding-top: 12%;
      z-index: 10;
      font-size: 3rem;
      transition: transform 3000ms ease-in-out;
    }

    &:hover + .encoche {
      animation-name: box-grow;
      animation-duration: 3000ms;
      animation-fill-mode: forwards;
    }

    &:hover + .encoche span {
      animation-name: rotation-encoche;
      animation-duration: 3000ms;
      animation-fill-mode: forwards;
    }
  }
  .encoche {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-tertiary;
    right: 0;
    margin: auto;
    margin-left: 0;
    height: 220px;
    width: 0px;
    animation-name: box-grow-reverse;
    animation-duration: 3000ms;

    span {
      background-color: white;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      line-height: 50px;
      text-align: center;
      color: $color-tertiary;
      font-size: 2rem;
    }
  }
}

@keyframes box-grow {
  0% {
    width: 0px;
  }
  100% {
    width: 200px;
  }
}

@keyframes box-grow-reverse {
  0% {
    width: 200px;
  }
  100% {
    width: 0px;
  }
}

@keyframes rotation-encoche {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reservez,
.choix-restaurant,
.compose-menu,
.deguste-restau {
  background-color: $color-fourth;
}

.reservez p {
  margin-top: 0;
}

.commander {
  padding-top: 6%;
  padding-bottom: 14%;
  input {
    width: 40%;
    margin-left: 30%;
    height: 6rem;
    color: white;
    font-size: 2.3rem;
    font-weight: bold;
    border: transparent;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 5px 5px 20px $color-fifth;
    background: linear-gradient(-10deg, $color-primary, $color-secondary);
    opacity: 1;
    box-shadow: 5px 5px 20px $color-fifth;
    transition: box-shadow 200ms, opacity 200ms;
    &:hover {
      opacity: 0.8;
      box-shadow: 10px 10px 20px $color-fifth;
    }
  }
}

footer {
  color: white;
  background-color: $color-fifth;
  font-size: 2.5rem;
  padding-left: 6%;
  padding-bottom: 2%;
  line-height: 6rem;
  .logo-footer {
    padding-bottom: 4%;
    padding-top: 5%;
  }
  .proposer {
    .fa-utensils {
      padding-right: 6%;
    }
  }
  .devenir {
    .fa-handshake {
      transform: rotate(-45deg);
      margin-right: 6%;
      font-size: 1.6rem;
    }
  }
  .contact {
    padding-bottom: 8%;
  }
}
