$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-fourth: #f6f6f6;
$color-fifth: #353535;
$color-sixth: #eaeaea;
$color-green: #99e2d0;
@mixin stretch-pics {
  width: 100%;
  height: 175px;
  object-fit: cover;
}
p,
h1,
h2,
h3,
h4,
.reservez,
.fonctionnement,
footer {
  font-family: "Roboto", sans-serif;
}
.text-cartes h1,
.logo-footer {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}
.loader {
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: $color-primary;
  background-color: $color-tertiary;
  visibility: hidden;
  animation-name: entree-site;
  animation-duration: 3000ms;
  animation-timing-function: cubic-bezier(1, 0.42, 0.26, 0.92);
  .text-loader {
    text-shadow: 0.5rem 0.5rem 0.2rem #c5b2dd;
  }
}
@keyframes entree-site {
  0% {
    color: $color-tertiary;
    visibility: visible;
  }
  50% {
    color: $color-secondary;
  }
  99% {
    color: $color-primary;
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
body {
  margin: 0;
}
.bloc-page {
  margin-left: 1%;
  margin-right: 1%;
}
header {
  padding-top: 2.5%;
}
.logo-index {
  text-align: center;
  padding-bottom: 2.5%;
}
.localisation {
  background-color: $color-sixth;
  height: 2.7rem;
  border-top: solid 9px #cfcfcf;
  display: flex;
  justify-content: center;
  align-items: center;
  .fa-map-marker-alt {
    margin-left: 20%;
    font-size: 0.75rem;
  }
  form {
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 3%;
    input {
      height: 100%;
      background-color: #eaeaea;
      border: none;
      font-size: 0.9rem;
      font-weight: bold;
      padding-top: 3.5%;
    }
  }
}
.reservez {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
  .reservez-un {
    padding-top: 5%;
    font-size: 0.675rem;
    font-weight: bold;
    white-space: nowrap;
  }
  .reservez-deux {
    font-size: 1rem;
    white-space: nowrap;
  }
  .explorer {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
    color: white;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    background: linear-gradient(-45deg, $color-primary, $color-secondary);
    opacity: 1;
    box-shadow: 2px 2px 10px $color-fifth;
    transition: box-shadow 200ms, opacity 200ms;
    &:hover {
      background: linear-gradient(-45deg, $color-primary, $color-secondary);
      opacity: 0.8;
      box-shadow: 7px 7px 14px $color-fifth;
    }
  }
}
.fonctionnement {
  font-size: 1rem;
  h1 {
    margin-left: 4.5%;
    margin-top: 8%;
    font-size: 1.4rem;
  }
  li {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 55px;
    width: 90%;
    margin-top: 8%;
    border-top-right-radius: 1.12rem;
    border-bottom-right-radius: 1.12rem;
    border-top-left-radius: 1.12rem;
    border-bottom-left-radius: 1.12rem;
    opacity: 1;
    box-shadow: 4px 4px 10px $color-sixth;
    transition: opacity 300ms, box-shadow 300ms;
    &:hover {
      opacity: 0.6;
      box-shadow: 10px 10px 15px #d6cbcb;
    }
    .fa-mobile-alt {
      padding-right: 9.5%;
    }
    .fa-list {
      padding-right: 8%;
    }
    .fa-store {
      color: $color-primary;
      padding-right: 7%;
    }
    span {
      background-color: $color-primary;
      font-size: 0.6rem;
      padding-top: 3px;
      margin-right: 8%;
      margin-left: -3%;
      color: white;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.retour-logo {
  display: flex;
  .logo {
    margin-left: 23%;
  }
  .retour-accueil {
    font-size: 1.12rem;
    padding-left: 3%;
    padding-top: 1%;
  }
}
.restaurants {
  background-color: $color-fourth;
  padding-top: 6%;
  margin-top: 15%;
  padding-bottom: 10%;
  h1 {
    margin-left: 4.5%;
    padding-bottom: 2%;
    font-size: 1.5rem;
    font-weight: bold;
  }
  figure {
    position: relative;
    width: 88%;
    margin: auto;
    margin-bottom: 6%;
    .nouveau-vert {
      position: absolute;
      padding-left: 3%;
      padding-right: 3%;
      top: 8%;
      right: 5%;
      height: 10%;
      background-color: $color-green;
      font-size: 0.75em;
      line-height: 0.3;
      color: #208f73;
      font-weight: bold;
      border-radius: 6%;
    }
    figcaption {
      background-color: white;
      display: flex;
      border-radius: 0 0 20px 20px;
      box-shadow: 10px 10px 15px $color-sixth;
      .ico-cartes {
        font-size: 0.9rem;
        padding-top: 5%;
        position: absolute;
        right: 0;
        margin-right: 3%;
        .red {
          position: relative;
          color: transparent;
          background: linear-gradient($color-primary, $color-secondary);
          -webkit-background-clip: text;
          background-clip: text;
          z-index: 1;
          .grey {
            position: absolute;
            color: white;
            text-shadow: 0 0 5px #000;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 10;
            opacity: 1;
            &:hover {
              animation-name: coeur-opacity;
              animation-duration: 3000ms;
              animation-fill-mode: forwards;
            }
          }
        }
      }
      .text {
        width: 80%;
        font-size: 1rem;
        line-height: 0.6rem;
        padding-left: 5%;
      }
      .ico {
        width: 20%;
        font-size: 1.8rem;
        .fa-heart {
          float: right;
          margin: 40%;
        }
      }
    }
  }
}

.restaurants > div {
  display: block;
  .la-palette img {
    @include stretch-pics;
    border-radius: 8% 8% 0 0;
    object-position: 50% 100%;
  }
  .la-note img {
    @include stretch-pics;
    border-radius: 8% 8% 0 0;
    object-position: 50% 60%;
  }
  .a-la-francaise img {
    @include stretch-pics;
    border-radius: 8% 8% 0 0;
    object-position: 0 100%;
  }
  .le-delice img {
    @include stretch-pics;
    border-radius: 8% 8% 0 0;
    object-position: 50% 95%;
  }
}
.titre-cartes {
  background-color: $color-fourth;
  margin: 0;
  margin-top: 2%;
  position: relative;
  img {
    width: 100%;
    height: 225px;
    object-fit: cover;
  }
  > div {
    background-color: $color-fourth;
    width: 100%;
    margin-top: -32px;
    position: absolute;
    display: flex;
    padding-top: 4%;

    border-radius: 10%/50%;
    .text-cartes {
      width: 80%;
      font-size: 0.9rem;
      line-height: 2rem;
      padding-left: 8%;
    }
    .ico-cartes {
      font-size: 1.2rem;
      padding-top: 5%;
      z-index: 10;
      background-color: $color-fourth;
      .red {
        position: relative;
        color: transparent;
        background: linear-gradient($color-primary, $color-secondary);
        -webkit-background-clip: text;
        background-clip: text;
        .grey {
          position: absolute;
          color: $color-fourth;
          text-shadow: 0 0 5px #000;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: 10;
          opacity: 1;
          &:hover {
            animation-name: coeur-opacity;
            animation-duration: 2000ms;
            animation-fill-mode: forwards;
          }
        }
      }
    }
  }
}

@keyframes coeur-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main-cartes {
  background-color: $color-fourth;
  margin-top: -10%;
  padding-top: 20%;
}

.entrees > h2,
.plats > h2,
.desserts > h2 {
  margin-left: 4%;
  margin-top: 0;
  padding-top: 4%;
  padding-bottom: 3%;
  font-size: 0.9rem;
  margin-bottom: 0;
}

.souligne-vert {
  padding-bottom: 1.5%;
  border-bottom: $color-green 4px solid;
}
.item-encoche {
  width: 100%;
  display: flex;
  animation-name: glissement-articles;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  opacity: 0;
  .itemmenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: white;
    margin: 2%;
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;
    box-shadow: 5px 8px 15px $color-sixth;
    &:hover > .details-articles {
      animation-name: reduction-articles;
      animation-duration: 300ms;
      animation-fill-mode: forwards;
    }

    .details-articles {
      position: relative;
      padding-top: 3%;
      width: 70%;
      h2 {
        margin: 0;
        margin-bottom: 3%;
        font-size: 1.2em;
        font-weight: bolder;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      p {
        margin-top: 0;
        margin-bottom: 3%;
        font-size: 0.9em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    p {
      margin-top: 1%;
    }

    &:hover > .details-prix {
      transform: translate(-150px, 0);
    }
    .details-prix {
      position: relative;
      padding-top: 10%;
      padding-right: 5%;
      font-size: 0.975rem;
      transition: transform 300ms 100ms ease-in-out;
    }
    &:hover > .encoche {
      animation-name: box-grow;
      animation-duration: 300ms;
      animation-fill-mode: forwards;
    }
    &:hover > .encoche span {
      animation-name: rotation-encoche;
      animation-duration: 300ms;
      animation-fill-mode: forwards;
    }
  }
  .encoche {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    margin: auto;
    margin-left: 0;
    height: 100%;
    width: 20%;
    visibility: hidden;
    border-radius: 0 20px 20px 0;
    background-color: $color-tertiary;
    span {
      background-color: white;
      visibility: hidden;
      font-size: 1.2rem;
      font-weight: bold;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      line-height: 20px;
      text-align: center;
      color: $color-tertiary;
    }
  }
}

@keyframes glissement-articles {
  0% {
    transform: translate(0, 100px);
    opacity: 0;
  }
  1% {
    transform: translate(0, 100px);
    opacity: 0;
    visibility: visible;
  }

  100% {
    transform: (0, 0);
    opacity: 1;
  }
}

.entrees .item-encoche:nth-child(1) {
  animation-delay: 700ms;
}
.entrees .item-encoche:nth-child(2) {
  animation-delay: 900ms;
}
.entrees .item-encoche:nth-child(3) {
  animation-delay: 1100ms;
}
.entrees .item-encoche:nth-child(4) {
  animation-delay: 1300ms;
}
.entrees .item-encoche:nth-child(5) {
  animation-delay: 1500ms;
}

.plats .item-encoche:nth-child(1) {
  animation-delay: 700ms;
}
.plats .item-encoche:nth-child(2) {
  animation-delay: 900ms;
}
.plats .item-encoche:nth-child(3) {
  animation-delay: 1100ms;
}
.plats .item-encoche:nth-child(4) {
  animation-delay: 1300ms;
}
.plats .item-encoche:nth-child(5) {
  animation-delay: 1500ms;
}

.desserts .item-encoche:nth-child(1) {
  animation-delay: 700ms;
}
.desserts .item-encoche:nth-child(2) {
  animation-delay: 900ms;
}
.desserts .item-encoche:nth-child(3) {
  animation-delay: 1100ms;
}
.desserts .item-encoche:nth-child(4) {
  animation-delay: 1300ms;
}
.desserts .item-encoche:nth-child(4) {
  animation-delay: 1500ms;
}

@keyframes box-grow {
  0% {
    width: 0px;
    visibility: visible;
  }

  1% {
    width: 1px;
  }

  100% {
    width: 37.5px;
    visibility: visible;
  }
}

@keyframes rotation-encoche {
  0% {
    transform: rotate(90deg);
    visibility: visible;
  }
  100% {
    transform: rotate(360deg);
    visibility: visible;
  }
}

@keyframes reduction-articles {
  0% {
    width: 70%;
  }
  50% {
    width: 60%;
  }
  80% {
    width: 45%;
  }
  100% {
    width: 45%;
  }
}

.reservez,
.choix-restaurant,
.compose-menu,
.deguste-restau {
  background-color: $color-fourth;
}

.reservez p {
  margin-top: 0;
}

.commander {
  padding-top: 6%;
  padding-bottom: 14%;
  input {
    width: 40%;
    margin-left: 30%;
    height: 2.25rem;
    color: white;
    font-size: 0.77rem;
    font-weight: bold;
    border: transparent;
    border-top-right-radius: 1.12rem;
    border-bottom-right-radius: 1.12rem;
    border-top-left-radius: 1.12rem;
    border-bottom-left-radius: 1.12rem;
    background: linear-gradient(-10deg, $color-primary, $color-secondary);
    opacity: 1;
    box-shadow: 2px 2px 10px $color-fifth;
    transition: box-shadow 200ms, opacity 200ms;
    &:hover {
      opacity: 0.8;
      box-shadow: 5px 5px 10px $color-fifth;
    }
  }
}

footer {
  color: white;
  background-color: $color-fifth;
  font-size: 0.9rem;
  padding-left: 6%;
  padding-bottom: 2%;
  line-height: 1.5rem;
  .logo-footer {
    padding-bottom: 4%;
    padding-top: 5%;
  }
  .proposer {
    .fa-utensils {
      padding-right: 6%;
    }
  }
  .devenir {
    .fa-handshake {
      transform: rotate(-45deg);
      margin-right: 3%;
      font-size: 0.97rem;
    }
  }
  .contact {
    padding-bottom: 8%;
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 768px) {
  header {
    padding-top: 0;
  }
  .logo-index {
    padding-top: 0;
  }
  .localisation {
    form {
      margin-left: 0;
    }
  }
  .reservez {
    .reservez-un {
      font-size: 1.3rem;
      padding-top: 0;
    }
    .reservez-deux {
      font-size: 1.7rem;
    }
    .explorer {
      font-size: 2.5rem;
      padding-right: 2%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background: linear-gradient(90deg, #9356dc, #ff79da);
    }
  }

  .fonctionnement {
    font-size: 1.6rem;
    font-weight: bold;
    h1 {
      margin-left: 2.5%;
      font-size: 2.4rem;
    }
    ol {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        width: 40%;
        margin-left: auto;
        height: 7rem;
        span {
          width: 60px;
          height: 45px;
          border-radius: 50%;
        }
      }
    }
  }
  .restaurants {
    margin-top: 6%;
    padding-top: 3%;
    h1 {
      margin-left: 2.5%;
      font-size: 2.4rem;
    }
  }
  .restaurants > div {
    display: flex;
    flex-wrap: wrap;
    .la-palette {
      max-width: 50%;
      .nouveau-vert {
        p {
          width: 50%;
          padding-left: 0;
        }
      }
      img {
        width: 100%;
      }
      .text {
        font-size: 1.3em;
        width: auto;
      }
      .ico-cartes {
        font-size: 1.3em;
        padding-left: 3%;
      }
    }
    .la-note {
      max-width: 50%;
      .nouveau-vert {
        p {
          width: 50%;
          padding-left: 0;
        }
      }
      img {
        width: 100%;
      }
      .text {
        font-size: 1.3em;
        width: auto;
      }
      .ico-cartes {
        font-size: 1.3em;
        padding-left: 3%;
      }
    }
    .a-la-francaise {
      max-width: 50%;
      img {
        width: 100%;
      }
      .text {
        font-size: 1.3em;
        width: auto;
      }
      .ico-cartes {
        font-size: 1.3em;
        padding-left: 3%;
      }
    }

    .le-delice {
      max-width: 50%;
      img {
        width: 100%;
      }
      .text {
        font-size: 1.3em;
        width: auto;
      }
      .ico-cartes {
        font-size: 1.3em;
        padding-left: 3%;
      }
    }
  }
  .retour-logo {
    .logo {
      margin-left: 21%;
    }
  }
  .titre-cartes {
    img {
      height: 200px;
      object-position: 0 57%;
    }
    > div {
      margin-top: 0;
      padding-top: 0;
      position: initial;
      .text-cartes {
        padding-left: 6%;
        font-size: 1.5em;
        h1 {
          margin-top: 3%;
          margin-bottom: 1%;
          padding-top: 4%;
        }
      }
    }
  }
  .main-cartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 3%;
    margin-top: 0;
    padding-top: 0;
    section {
      width: 50%;
      h2 {
        font-size: 1.7em;
      }
    }
    .desserts {
      padding-left: 27%;
    }
    .commander {
      width: 100%;
      padding-bottom: 10%;
    }
    .item-encoche {
      .itemmenu {
        width: 90%;
        .details-articles {
          width: 85%;
          h2 {
            font-size: 1.3em;
          }
          p {
            font-size: 1.3em;
          }
        }
        .details-prix {
          font-size: 1.3em;
        }
        .encoche {
          max-width: 25%;
          span {
            font-size: 1.3rem;
            width: 30px;
            height: 30px;
            line-height: 30px;
          }
        }
      }
    }
  }
  footer {
    width: 100%;
    margin: auto;
    padding-left: 5%;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 0;
    .logo-footer {
      padding-bottom: 0;
    }
    .devenir {
      .fa-handshake {
        margin-right: 4.5%;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 1024px) {
  .logo-index {
    padding-top: 0;
    padding-bottom: 0;
  }
  .localisation {
    height: 3.5rem;
    .fa-map-marker-alt {
      margin-left: 13%;
      font-size: 1rem;
    }
    form {
      padding-left: 1%;
      margin-left: 0;
    }
  }
  .reservez {
    padding-bottom: 0;
    .reservez-un {
      font-size: 1.2rem;
    }
    .reservez-deux {
      font-size: 1.7rem;
    }
    .explorer {
      font-size: 2rem;
      line-height: 0.5em;
      padding-right: 2%;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 4rem;
      background: linear-gradient(190deg, #9356dc, #ff79da);
    }
  }
  .fonctionnement {
    font-size: 1.3rem;
    h1 {
      margin-bottom: 2%;
      margin-top: 2%;
      font-size: 1.7rem;
    }
    ol {
      li {
        width: 30%;
        margin: auto;
      }
    }
  }
  .restaurants {
    padding-top: 2%;
    padding-bottom: 0;
    h1 {
      font-size: 1.7rem;
    }
  }

  .retour-logo .logo {
    margin-left: 25%;
  }
  .titre-cartes img {
    height: 250px;
    object-position: 0 58%;
  }
  .main-cartes {
    .item-encoche {
      .itemmenu {
        .encoche {
          max-width: 20%;
        }
      }
    }
  }
  footer {
    font-size: 1.7rem;
    .contact {
      padding-bottom: 0;
    }
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
